# Part 2: Car Factors 

You are to construct a predictive model that provides the duration till sold for a given model.  

1. Populate the carsfactors.py following the hints in the comments
1. Integrate with carfactors_service.py
1. Test locally
1. Build requirements.txt and Dockerfile
1. Build a docker image
1. Test Locally
1. Push to docker hub
1. Populate readme for both github and docker hub (with example docker commands)
1. Populate this notebook with working output and a summary that contains an impression of the model and how to improve it.

* ***Review the [codeSamplesforCategoricalData.ipynb](./codeSamplesforCategoricalData.ipynb) for code review of the categorical data manipulations***.

In [1]:
!pip install pandas 
!pip install numpy 
!pip install scikit-learn 
!pip install basemap
!pip install flask

Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.24.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.3.1; however, version 24.0 is available.
You should consider upgrading via the '/usr/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.24.4)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.3.1; however, version 24.0 is available.
You should consider upgrading via the '/usr/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (3.0.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.5.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.24.4)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.3.1; however, version 24.0 is available.
You should consider upgrading via the '/usr/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: basemap in /usr/local/lib/python3.8/dist-packages (1.4.0)
Requirement already satisfied: packaging<24.0,>=16.0 in /usr/local/lib/python3.8/dist-packages (from basemap) (23.2)
Requirement already satisfied: basemap-data<1.4,>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from basemap) (1.3.2)
Requirement already satisfied: numpy<1.27,>=1.21 in /usr/local/lib/python3.8/dist-packages (from basemap) (1.24.4)
Requirement already satisfied: pyproj<3.7.0,>=1.9.3 in /usr/local/lib/python3.8/dist-packages (from basemap) (3.5.0)
Requirement already satisfied: pyshp<2.4,>=1.2 in /usr/local/lib/python3.8/dist-packages (from basemap) (2.3.1)
Requirement already satisfied: matplotlib<3.9,>=1.5 in /usr/local/lib/python3.8/dist-packages (from basemap) (3.5.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.9,>=1.5->basemap) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.9,>=1.5->basemap) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.9,>=1.5->basemap) (4.28.5)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.9,>=1.5->basemap) (9.0.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.9,>=1.5->basemap) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.9,>=1.5->basemap) (2.4.7)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from pyproj<3.7.0,>=1.9.3->basemap) (2021.5.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib<3.9,>=1.5->basemap) (1.15.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.3.1; however, version 24.0 is available.
You should consider upgrading via the '/usr/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: flask in /usr/local/lib/python3.8/dist-packages (3.0.2)
Requirement already satisfied: itsdangerous>=2.1.2 in /usr/local/lib/python3.8/dist-packages (from flask) (2.1.2)
Requirement already satisfied: Jinja2>=3.1.2 in /usr/local/lib/python3.8/dist-packages (from flask) (3.1.3)
Requirement already satisfied: importlib-metadata>=3.6.0 in /usr/local/lib/python3.8/dist-packages (from flask) (7.0.1)
Requirement already satisfied: blinker>=1.6.2 in /usr/local/lib/python3.8/dist-packages (from flask) (1.7.0)
Requirement already satisfied: click>=8.1.3 in /usr/local/lib/python3.8/dist-packages (from flask) (8.1.7)
Requirement already satisfied: Werkzeug>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from flask) (3.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=3.6.0->flask) (3.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from Jinja2>=3.1.2->flask) (2.1.5)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.3.1; however, version 24.0 is available.
You should consider upgrading via the '/usr/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
from IPython.display import display, HTML

# Display Properties
from IPython.display import display, HTML
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 2)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

sns.set(style="ticks", color_codes=True)

In [3]:
# The dataset has been added to this git repository and so we will read it from the current location
df = pd.read_csv("cars.csv")

# Printing the shape tells us the volume (rows) and dimensionality (columns) of the data
data_shape = df.shape
print(f'# The dataset has {data_shape[0]} rows and {data_shape[1]} columns')

# The dataset has 38531 rows and 30 columns

In [4]:
df.head()

  manufacturer_name model_name transmission  color   odometer_value  year_produced engine_fuel  engine_has_gas engine_type  engine_capacity body_type   has_warranty state  drivetrain  price_usd  is_exchangeable location_region   number_of_photos  up_counter  feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  feature_7  feature_8  feature_9  duration_listed
0       Subaru        Outback    automatic   silver      190000          2010        gasoline        False       gasoline       2.500        universal      False     owned     all    10900.000        False          Минская обл.          9             13        False       True       True       True      False       True      False       True       True       True           16
1       Subaru        Outback    automatic     blue      290000          2002        gasoline        False       gasoline       3.000        universal      False     owned     all     5000.000         True          Минская обл.         12             54        False       True      False      False       True       True      False      False      False       True           83
2       Subaru       Forester    automatic      red      402000          2001        gasoline        False       gasoline       2.500              suv      False     owned     all     2800.000         True          Минская обл.          4             72        False       True      False      False      False      False      False      False       True       True          151
3       Subaru        Impreza   mechanical     blue       10000          1999        gasoline        False       gasoline       3.000            sedan      False     owned     all     9999.000         True          Минская обл.          9             42         True      False      False      False      False      False      False      False      False      False           86
4       Subaru         Legacy    automatic    black      280000          2001        gasoline        False       gasoline       2.500        universal      False     owned     all     2134.110         True       Гомельская обл.         14              7        False       True      False       True       True      False      False      False      False       True            7

In [5]:
engine_null = df.loc[df.engine_capacity.isnull()]
engine_null

nissan_leaf_ec = df.loc[(df.engine_type != 'electric') ]
nissan_leaf_ec.head()

  manufacturer_name model_name transmission  color   odometer_value  year_produced engine_fuel  engine_has_gas engine_type  engine_capacity body_type   has_warranty state  drivetrain  price_usd  is_exchangeable location_region   number_of_photos  up_counter  feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  feature_7  feature_8  feature_9  duration_listed
0       Subaru        Outback    automatic   silver      190000          2010        gasoline        False       gasoline       2.500        universal      False     owned     all    10900.000        False          Минская обл.          9             13        False       True       True       True      False       True      False       True       True       True           16
1       Subaru        Outback    automatic     blue      290000          2002        gasoline        False       gasoline       3.000        universal      False     owned     all     5000.000         True          Минская обл.         12             54        False       True      False      False       True       True      False      False      False       True           83
2       Subaru       Forester    automatic      red      402000          2001        gasoline        False       gasoline       2.500              suv      False     owned     all     2800.000         True          Минская обл.          4             72        False       True      False      False      False      False      False      False       True       True          151
3       Subaru        Impreza   mechanical     blue       10000          1999        gasoline        False       gasoline       3.000            sedan      False     owned     all     9999.000         True          Минская обл.          9             42         True      False      False      False      False      False      False      False      False      False           86
4       Subaru         Legacy    automatic    black      280000          2001        gasoline        False       gasoline       2.500        universal      False     owned     all     2134.110         True       Гомельская обл.         14              7        False       True      False       True       True      False      False      False      False       True            7

In [22]:
unique_fuel = df.engine_fuel.unique()
unique_engine = df.engine_type.unique()
unique_has_gas = df.engine_has_gas.unique()
unique_has_warranty = df.has_warranty.unique()
unique_state = df.state.unique()
unique_drive_train = df.drivetrain.unique()
unique_location = df.location_region.unique()
unique_manufacturer = df.manufacturer_name.unique()
unique_model = df.model_name.unique()
unique_body_type = df.body_type.unique()
unique_transmission = df.transmission.unique()
unique_color = df.color.unique()

In [23]:
unique_color

array(['silver', 'blue', 'red', 'black', 'grey', 'other', 'brown',
       'white', 'green', 'violet', 'orange', 'yellow'], dtype=object)

In [8]:
from sklearn.preprocessing import OrdinalEncoder

# Fix the order for body types
ordered_body_types = ['universal','hatchback', 'cabriolet','coupe','sedan','liftback', 'suv', 
                      'minivan', 'van','pickup', 'minibus','limousine']
if (len(ordered_body_types) == len(unique_body_type)):
    print("We are good with body types")
else:
    print("Check if you missed any body types")

# Create the Ordinal Encoder
oe = OrdinalEncoder(categories=[ordered_body_types])

We are good with body types

In [9]:
model_name_analysis_df = df.groupby(['manufacturer_name','model_name','body_type','engine_type','transmission','drivetrain'])['duration_listed'].count()
manufacturer_model_analysis_df = df.groupby(['manufacturer_name','model_name'])['duration_listed'].std()
manufacturer_analysis_df = df.groupby(['manufacturer_name','body_type','transmission','color'])['duration_listed'].std()

In [10]:
# First let's copy the dataframe to keep a backup
df_bak = df.copy(deep=True)

# We will drop these columns (see readme for rationale)
cols_to_drop = ['engine_fuel','engine_has_gas','engine_capacity','feature_0','feature_1','feature_2','feature_3',
               'feature_4','feature_5','feature_6','feature_7','feature_8','feature_9','is_exchangeable', 
                'location_region','model_name','number_of_photos','up_counter']

trimmed_df = df.drop(columns=cols_to_drop,errors='ignore')
trimmed_df.tail()

      manufacturer_name transmission  color   odometer_value  year_produced engine_type body_type   has_warranty state  drivetrain  price_usd  duration_listed
38526      Chrysler       automatic   silver      290000          2000        gasoline       sedan      False     owned    front    2750.000         301
38527      Chrysler      mechanical     blue      321000          2004          diesel   hatchback      False     owned    front    4800.000         317
38528      Chrysler       automatic     blue      777957          2000        gasoline       sedan      False     owned    front    4300.000         369
38529      Chrysler      mechanical    black       20000          2001        gasoline     minivan      False     owned    front    4000.000         490
38530      Chrysler       automatic   silver      297729          2000        gasoline     minivan      False     owned    front    3200.000         632

In [11]:
# Let's look at missing values and confirm we are not missing anything 
display(HTML(trimmed_df.isna().sum().to_frame().to_html()))

In [12]:
# Perform the transformation on a copy of the dataframe
body_type_df = trimmed_df[['body_type']].copy()
body_type_df[['body_type']] = oe.fit_transform(body_type_df[['body_type']])
body_type_df.head()

   body_type
0   0.000
1   0.000
2   6.000
3   4.000
4   0.000

In [13]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data starting with transmission
ohc_transmission = OneHotEncoder()
ohe_transmission = ohc_transmission.fit_transform(trimmed_df['transmission'].values.reshape(-1,1)).toarray()
df_transmission = pd.DataFrame(ohe_transmission, columns = ohc_transmission.categories_[0])

# Apply one-hot encoder to Manufacturer
ohc_manufacturer = OneHotEncoder()
ohe_manufacturer = ohc_manufacturer.fit_transform(trimmed_df['manufacturer_name'].values.reshape(-1,1)).toarray()
df_manufacturer = pd.DataFrame(ohe_manufacturer, columns = ohc_manufacturer.categories_[0])

# Apply one-hot encoder to color
ohc_color = OneHotEncoder()
ohe_color = ohc_color.fit_transform(trimmed_df['color'].values.reshape(-1,1)).toarray()
df_color = pd.DataFrame(ohe_color, columns = ohc_color.categories_[0])

# Apply one-hot encoder to engine type
ohc_engine = OneHotEncoder()
ohe_engine = ohc_engine.fit_transform(trimmed_df['engine_type'].values.reshape(-1,1)).toarray()
df_engine = pd.DataFrame(ohe_engine, columns = ohc_engine.categories_[0])

# Apply one-hot encoder to drive train 
ohc_drivetrain = OneHotEncoder()
ohe_drivetrain = ohc_drivetrain.fit_transform(trimmed_df['drivetrain'].values.reshape(-1,1)).toarray()
df_drivetrain = pd.DataFrame(ohe_drivetrain, columns = ohc_drivetrain.categories_[0])

# Apply one-hot encoder to state 
ohc_state = OneHotEncoder()
ohe_state = ohc_state.fit_transform(trimmed_df['state'].values.reshape(-1,1)).toarray()
df_state = pd.DataFrame(ohe_state, columns = ohc_state.categories_[0])

In [14]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

# We will use Label Encoder for has_warranty since I presume having it has higher order
le_warranty = LabelEncoder()
has_warranty_df = trimmed_df[['has_warranty']].copy()
has_warranty_df['has_warranty'] = le_warranty.fit_transform(has_warranty_df['has_warranty']) 

# Finally we will extract the other columns 
numeric_df = trimmed_df[['odometer_value','year_produced','price_usd']].copy()

# Create a minmaxscaler to scale all the values
min_max_scaler = MinMaxScaler()
normalizable_cols = ['odometer_value','year_produced','price_usd']
numeric_df[normalizable_cols] = min_max_scaler.fit_transform(trimmed_df[normalizable_cols])

#print(min_max_scaler.transform((np.array([[27585858,2023,60897]]))))

In [15]:
# Concatenate all the dataframes
car_factors_features = pd.concat([df_manufacturer, df_transmission, df_color, df_engine, df_drivetrain, df_state,
                                 body_type_df, has_warranty_df, numeric_df], axis=1)
car_factors_features.head()

   Acura  Alfa Romeo  Audi   BMW  Buick  Cadillac  Chery  Chevrolet  Chrysler  Citroen  Dacia  Daewoo  Dodge  Fiat  Ford  Geely  Great Wall  Honda  Hyundai  Infiniti  Iveco  Jaguar  Jeep   Kia  LADA  Lancia  Land Rover  Lexus  Lifan  Lincoln  Mazda  Mercedes-Benz  Mini  Mitsubishi  Nissan  Opel  Peugeot  Pontiac  Porsche  Renault  Rover  Saab  Seat  Skoda  SsangYong  Subaru  Suzuki  Toyota  Volkswagen  Volvo   ВАЗ   ГАЗ   ЗАЗ  Москвич   УАЗ  automatic  mechanical  black  blue  brown  green  grey  orange  other   red  silver  violet  white  yellow  diesel  electric  gasoline   all  front  rear  emergency   new  owned  body_type  has_warranty  odometer_value  year_produced  price_usd
0 0.000     0.000    0.000 0.000 0.000    0.000   0.000    0.000      0.000    0.000   0.000   0.000  0.000  0.000 0.000 0.000     0.000    0.000   0.000     0.000   0.000   0.000  0.000 0.000 0.000  0.000     0.000    0.000  0.000   0.000   0.000      0.000      0.000    0.000     0.000  0.000  0.000    0.000    0.000    0.000   0.000  0.000 0.000 0.000    0.000     1.000   0.000   0.000     0.000    0.000  0.000 0.000 0.000  0.000   0.000   1.000       0.000    0.000  0.000 0.000  0.000  0.000  0.000  0.000  0.000  1.000   0.000  0.000   0.000   0.000    0.000     1.000   1.000 0.000  0.000   0.000    0.000 1.000    0.000           0           0.190          0.883        0.218
1 0.000     0.000    0.000 0.000 0.000    0.000   0.000    0.000      0.000    0.000   0.000   0.000  0.000  0.000 0.000 0.000     0.000    0.000   0.000     0.000   0.000   0.000  0.000 0.000 0.000  0.000     0.000    0.000  0.000   0.000   0.000      0.000      0.000    0.000     0.000  0.000  0.000    0.000    0.000    0.000   0.000  0.000 0.000 0.000    0.000     1.000   0.000   0.000     0.000    0.000  0.000 0.000 0.000  0.000   0.000   1.000       0.000    0.000  1.000 0.000  0.000  0.000  0.000  0.000  0.000  0.000   0.000  0.000   0.000   0.000    0.000     1.000   1.000 0.000  0.000   0.000    0.000 1.000    0.000           0           0.290          0.779        0.100
2 0.000     0.000    0.000 0.000 0.000    0.000   0.000    0.000      0.000    0.000   0.000   0.000  0.000  0.000 0.000 0.000     0.000    0.000   0.000     0.000   0.000   0.000  0.000 0.000 0.000  0.000     0.000    0.000  0.000   0.000   0.000      0.000      0.000    0.000     0.000  0.000  0.000    0.000    0.000    0.000   0.000  0.000 0.000 0.000    0.000     1.000   0.000   0.000     0.000    0.000  0.000 0.000 0.000  0.000   0.000   1.000       0.000    0.000  0.000 0.000  0.000  0.000  0.000  0.000  1.000  0.000   0.000  0.000   0.000   0.000    0.000     1.000   1.000 0.000  0.000   0.000    0.000 1.000    6.000           0           0.402          0.766        0.056
3 0.000     0.000    0.000 0.000 0.000    0.000   0.000    0.000      0.000    0.000   0.000   0.000  0.000  0.000 0.000 0.000     0.000    0.000   0.000     0.000   0.000   0.000  0.000 0.000 0.000  0.000     0.000    0.000  0.000   0.000   0.000      0.000      0.000    0.000     0.000  0.000  0.000    0.000    0.000    0.000   0.000  0.000 0.000 0.000    0.000     1.000   0.000   0.000     0.000    0.000  0.000 0.000 0.000  0.000   0.000   0.000       1.000    0.000  1.000 0.000  0.000  0.000  0.000  0.000  0.000  0.000   0.000  0.000   0.000   0.000    0.000     1.000   1.000 0.000  0.000   0.000    0.000 1.000    4.000           0           0.010          0.740        0.200
4 0.000     0.000    0.000 0.000 0.000    0.000   0.000    0.000      0.000    0.000   0.000   0.000  0.000  0.000 0.000 0.000     0.000    0.000   0.000     0.000   0.000   0.000  0.000 0.000 0.000  0.000     0.000    0.000  0.000   0.000   0.000      0.000      0.000    0.000     0.000  0.000  0.000    0.000    0.000    0.000   0.000  0.000 0.000 0.000    0.000     1.000   0.000   0.000     0.000    0.000  0.000 0.000 0.000  0.000   0.000   1.000       0.000    1.000  0.000 0.000  0.000  0.000  0.000  0.000  0.000  0.000   0.000  0.000   0.000   0.000    0.000     1.000   1.000 0.000  0.000   0.000    0.000 1.000    0.000           0           0.280          0.766        0.043

In [16]:
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

 # Get X & y values
X = car_factors_features.values 
y = trimmed_df['duration_listed'].values
    
# Obtain training and test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.1,  random_state=0)
#SVC(kernel='rbf')
model = LinearRegression()
pipe_lr = make_pipeline(model)
pipe_lr.fit(X_train, y_train)
y_pred = pipe_lr.predict(X_test)
print(model.score(X_train, y_train))
mean_squared_error(y_test, y_pred)

0.01878970628321386

9526.837507547834

In [ ]:
import numpy as np

abc = trimmed_df['transmission'].values
print(abc)
carTransmissionTest = np.array(['automatic'])
print(carTransmissionTest)
test = ohc_transmission.transform(carTransmissionTest.reshape(-1,1)).toarray()
print(test)

In [1]:
from carsfactors import carsfactors

cf = carsfactors()

### Test Model first - Get stats

In [2]:
cf.model_stats()

'0.01878970628321386'

### Get Determination

In [3]:
cf.model_infer('Subaru','automatic', 'silver', 'gasoline', 'all', 'new', 'suv', True, 19000, 2018, 49000)

[[1. 0. 0.]]
[[0. 0. 1.]]
[[0]]
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1.
  1. 0. 0. 0. 1. 0. 6. 0.]]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

'[4183675.0234375]'

### Start up the service

In [ ]:
!python carfactors_service.py

Try out the links 
* [stats](http://fillin)
* [determination](http://fillin)

### You must kill the kernel to try again for the port stays locked to the current kernel

# Summary
* Assignment and Model Results
* Techniques to improve the results

PUT YOUR ANSWERS HERE which could include additional cells with working code examples